body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #f8b595;
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  box-shadow: 10px 25px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
  font-weight: lighter !important;
}

h1 {
  font-size: 25px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: block;
  font-size: 15px;
}
li:first-letter {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 20px;
}
.current-temperature img {
  margin-right: 20px;
  height: 80px;
  width: 80px;
}
.current-temperature strong {
  font-size: 45px;
}

small {
  font-size: 13px !important;
  display: block !important;
  text-align: center !important;
}
a {
  text-decoration: none !important;
}
.current-temperature .units {
  position: relative;
  font-size: 18px;
  top: -10px;
}

.search-button {
  border-radius: 30px !important;
  text-decoration: none;
  padding: 5px !important;
  transition: all 200ms ease !important;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0 !important;
}
.searchbutton:hover {
  cursor: pointer;
  background: #fff;
  color: #53a8b6;
}
.location {
  border: gray;
  border-radius: 10px;
}

li {
  font-size: 18px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  padding: 10px;
  border-radius: 8px;
}

.weather-forecast-date {
  font-size: 15px;
  font-weight: bolder;
}
.weather-forecast-temperature-min {
  color: gray;
}
