.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #a8e6cf;
  background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(221, 255, 214) 0.3%,
    rgb(214, 254, 254) 90.5%
  );
  border-radius: 10px;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: lighter !important;
}

h1 {
  font-size: 25px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: block;

  font-size: 15px;
}

.overview {
  margin-bottom: 20px;
}
.current-temperature img {
  margin-right: 20px;
  height: 80px;
  width: 80px;
}
.current-temperature strong {
  font-size: 30px;
}

small {
  font-size: 13px !important;
}
a {
  text-decoration: none !important;
}
.current-temperature .units {
  position: relative;
  font-size: 18px;
  top: -10px;
}
